.textAbout{
    margin-top: 8rem;
    margin-bottom: 8rem;
    text-align: center;
    color: black;
}

.aboutMariano{
    font-size: 3.5rem;
    color: #67175a;
    font-family:'Noto Serif';
    margin-bottom: .5rem;

}

.frase{
    font-family:'Noto Serif';
    color: rgb(46, 39, 61);
    font-size: 1.5rem;
    opacity: 0;
    animation: aparecer 4s forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

.pepino{
    height: 5rem;
}
.pepinoRotado{
    transform: rotate(10deg); 
}
@media (max-width: 768px) {
    /* Estilos para pantallas pequeñas */
    .aboutMariano {
      font-size: 1.5rem;/* ejemplo de cambio */
    }
  }