/* Estilo principal */
.interestsContainer {
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
/* Asegura que las cajas estén separadas */
}

/* Media query para pantallas más grandes (mínimo 768px) */
@media (min-width: 768px) {
    .interestsContainer {
        display: flex;
        flex-direction: row; /* Cambia a columna en pantallas grandes */
        justify-content: space-evenly; /* Alinea las cajas al centro */
   /* Asegura que las cajas se centren horizontalmente */
    }
}